/* MAIN BODY ---------------------------------------*/
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  overflow: hidden;
}



/* HEADER AND NAV ------------------------------*/

#header {
  height: 6vh;


}

#header li {
  display: inline-flex;
  padding: 0 20px;
}

#main_nav {
  display: inline-flex;
}

#main_nav a {

  text-decoration: none;
}

#main_nav a:visited {
  text-decoration: none;
  color: black;

}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: black;
}

/* LANDING PAGE ------------------------------*/

#main-landing {
  height: 82vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER ----------------------------------------*/

#footer {
  margin-left: 0;
  height: 8vh;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;


}

#footer a {
  text-decoration: none;


}

#footer a:visited {
  text-decoration: none;


}
