* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background: #ececec;
}

.header {
  width: 100%;
  height: 56px;
  color: black;
  background: #FFF;
  position: fixed;
  font-size: 20px;
  padding: 16px 16px 0 16px;
  will-change: transform;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}

.logo {
  height: 2em;
  width: auto;
}

.header .headerButton {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-drawer {
  background-color: white;
  position: fixed;
  z-index: 2000;
  margin-top: 56px;
  height: 56px;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
}

.menu-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
}

.menu-item {
  display: inline-flex;
  flex-direction: row;
  background-color: white;
  margin-left: 0;
}

.modalButton {
  background-color: white;
  border: 0 solid white;
  height: 3em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

button:focus {
  outline: 0;
}

.tablink {
  color: rgba(0, 0, 0, 0.7);
}

.tab-highlight {
  border-bottom: 0.2em solid #FF8329;
  color: rgba(0, 0, 0, 1);
}

.container {
  height: 100vh;
  width: 100%;
  text-align: center;
}

#main-landing {
  height: 86%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hello-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

#hello-content h1 {
  color: black;
}

#main-content p {
  color: #A8A7A6;
}

#main-content-links a {
  text-decoration: none;
  color: #FF8329;
  border-bottom: 0.10em solid rgba(192, 192, 192, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

#main-content-links a:hover {
  color: #FF8329;
  border-bottom: 0.10em solid #FF8329;
}


}
#main-content-links a:visited {
  text-decoration: none;
  color: #FF8329;
}
.icon {
  height: 0.8em;
}

/* Cursor */
.typed-cursor {
  font-size: 2.2em;
  padding-bottom: 0.2em;
  color: black;
}
.hr-medium {
  box-sizing: content-box;
  width: 80%;
  border: 0 solid white;
  max-width: 80%;
  height: 2px;
  text-align: center;
  margin-bottom: 0;
  background-color: #FF8329;
}
.subfooter {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  height: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****************************************************************************
 *
 * Modals
 *
 ****************************************************************************/
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 100px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
.modal-dialog {
  text-align: center;
  width: 100%;
}

.modal-container {
  background-color:

}

.form-container {
  width: 60%;
  margin-left: 20%;
}
input[type=text] {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
  padding: 6px 10px;
  font-size: 1em;
  margin: 1em;
}
input[type=text]:focus {
  box-shadow: 0 4px 2px -2px #FF8329;
  outline: 0;
  color: #5264AE;
}
#bottomrow {
  width: 100%;
}
textarea {
  width: 84%;
  min-height: 10em;
  border: 1px solid black;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}
textarea:focus {
  border: 2px solid #FF8329;
  outline: none;
}
.orangebtn {
  background-color: #FF8329;
  color: white;
  margin-top: 2em;
  font-size: 1em;
  width:10em;
  height: 4em;
  border: none;
  border-radius: 4px;

}
.closebtn {
  color: #5a6175;
  font-size: 2em;
  margin-top: 20px;
  margin-right: 20px;
  float: right;

}
.closebtn:hover, .closebtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*****************************************************************************
 *
 * Media Queries
 *
 ****************************************************************************/
@media only screen and (max-width: 409px) {}
@media only screen and (min-width: 410px) and (max-width: 1024px) {}
@media only screen and (max-width: 1024px) {
  .menu-item {
    width: 33%;
  }

  .modalButton {
    font-size: 0.875em;
    padding: 1.25em 0.75em;
  }

.modal-container {
    overflow: scroll !important;
  }
}
@media only screen and (min-width: 1025px) {
  .menu-item {
    width: 10%;
  }

  .modalButton {
    font-size: 0.75em;
    padding: 0 1em;
  }

}
